@model IEnumerable<OnlineShop.Models.Store>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<h1>Stores</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i> Create
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Store Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">
                        <i class="fas fa-trash-alt"></i>
                    </a>

                </td>
        </tr>
}
    </tbody>
</table>
