@model IEnumerable<OnlineShop.Models.StoreProduct>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<h1>Stocks</h1>
<hr />

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-plus"></i> Create
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Store Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                Product Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoreId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-storeId="@item.StoreId" asp-route-productId="@item.ProductId" class="btn btn-primary">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a asp-action="Delete" asp-route-storeId="@item.StoreId" asp-route-productId="@item.ProductId" class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
